.forgot-password {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-text-fill: #0000FFFF;
    -fx-cursor: hand;
    -fx-font-size: 12px;
    -fx-padding: 0;
}

.forgot-password:hover {
    -fx-text-fill: #00008BFF;
    -fx-underline: true;
}

.toggle-password-btn {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
}

.main-input {
    -fx-pref-width: 250px !important;
    -fx-min-width: 250px !important;
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10px;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-padding: 7px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 2);
}

.main-input:focused {
    -fx-border-color: #66aaff;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 2);
}

.login-screen-AnchorPane,
.login-screen-vBox,
.login-screen-pane {
    -fx-pref-width: 400px;
    -fx-pref-height: 400px;
}

.input-label {
    -fx-text-fill: #484848;
    -fx-font-size: 12px;
}
