.forgot-password {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-text-fill: #66aaff;
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.forgot-password:hover {
    -fx-underline: true;
}

.toggle-password-btn {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
}


.main-input:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 2);
}

.login-screen-AnchorPane,
.login-screen-vBox,
.login-screen-pane {
    -fx-pref-width: 400px;
    -fx-pref-height: 400px;
}

.input-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
